<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lyckad inloggning</title>
</head>
<body>

    <h1>hej <%=User.username%> click the link below to build ur profile</h1><br/>

    <p><%=User.email%></p>
    <p><%=User.fullname%></p>
    <img src="<%=User.picture%>" alt="" height="300px" width="300px" >

    <a href="changeProfile/<%=User._id%>">change your profile</a>

    <form action="/loggaUT">
        <button type="submit">Logga ut</button>
    </form>
</body>
</html>