<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lyckad inloggning</title>
</head>
<body>

    <h1>hej <%=User.username%> this is your profile.
         if u want update it click the link below or just let it be </h1><br/>

    <img src="<%=User.picture%>" alt="bot found" height="300px" width="300px" >     
    <p><%=User.email%></p>
    <p><%=User.fullname%></p>
    

    <a href="changeProfile/<%=User._id%>"> update profile</a>

    <form action="textRuta" method="post">
        <textarea name="textarea" cols="30" rows="5" maxlength="140"></textarea>
        <button type="submit">submit Blog</button>
     </form>

    <form action="/loggaUT">
        <button type="submit">Logga ut</button>
    </form>
</body>
</html>