<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lyckad inloggning</title>
</head>
<body>

    <h1>hej <%=User.username%> </h1><br/>


    <a href="changeProfile/<%=User._id%>"> update profile</a>


    <a href="blog/<%=User._id%>">write a blog</a>
    
    <a href="SeeBlogs/<%=User._id%>">se all the blogs</a><br/>


    <img src="<%=User.picture%>" alt="not found" height="300px" width="300px" >     
    <p><%=User.email%></p>
    <p><%=User.fullname%></p>
    
    <form action="/loggaUT">
        <button type="submit">Logga ut</button>
    </form>
    
</body>
</html>